<h2>{{ movie.title }}</h2>
<div class="wrapper">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <mat-card class="movie-card">
        <mat-card-header>
          <mat-card-subtitle>{{ movie.year }}</mat-card-subtitle>
        </mat-card-header>
        <img class="movie-poster" mat-card-image [src]="movie.poster" />
        <mat-card-content>
          <h3>Genre:</h3>
          <p>{{ movie.genres }}</p>
          <h3>Casted by:</h3>
          <p>{{ movie.cast }}</p>
          <h3>Plot:</h3>
          <p>{{ movie.fullplot }}</p>
          <h3>Country:</h3>
          <p>{{ movie.countries }}</p>
          <h3>Date released:</h3>
          <p>{{ movie.released }}</p>
          <h3>Directed by:</h3>
          <p>{{ movie.directors }}</p>
          <h3>Awards:</h3>
          <p>Wins: {{ movie.awards.wins }}</p>
          <p>Nominations: {{ movie.awards.nominations }}</p>
          <h3>Imdb rating:</h3>
          <p>{{ movie.imdb.rating }}</p>
          <h3>Rotten Tomatoes rating:</h3>
          <p>{{ movie.tomatoes.viewer.rating }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
